<div class="col">
  <div>
    <div class="row g-0">
      {% if people.img %}
        <div class="col-md-6">
          {% include figure.liquid path=people.img sizes="(min-width: 768px) 156px, 50vw" alt="people thumbnail" %}
        </div>
      {% endif %}
      <div class="{% if people.img %}col-md-6{% else %}col-md-12{% endif %}">
        <div>
          <h3>{{ people.title }}</h3>
          <p>{{ people.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            {% if people.github %}
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ people.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
                </div>
                {% if people.github_stars %}
                  <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                    <i class="fa-solid fa-star"></i>
                    <span id="{{ people.github_stars }}-stars"></span>
                  </span>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
